
// Whimsical
$white: #ffffff;
$black: #000000;

$lightBlue: #eaf4ff;      // airy, academic
$blue: #4a7bd0;           // links + accents

$lavender: #7b6fd6;       // subtle purple
$emerald: #2f9e8f;        // calm green

$lightGray: #f2f4f8;
$gray: #7a7a7a;
$darkGray: #3a3a3a;
$darkerGray: #1f1f1f;




// //
// // VARIABLES
// //

// // Colors
// $blue: #4183C4;

// // Grays
// $black: #000;
// $darkerGray: #222;
// $darkGray: #333;
// $gray: #666;
// $lightGray: #eee;
// $white: #fff;

// // Font stacks
// $helvetica: Helvetica, Arial, sans-serif;
// $helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;

// // Mobile breakpoints
// @mixin mobile {
//   @media screen and (max-width: 640px) {
//     @content;
//   }
// }
