
// Whimsical Academic Palette
$white: #e3f2fd;      // A very soft, light "Neuro-Blue" instead of pure white
$lightGray: #d1e9ff;  // Used for borders and footer backgrounds
$darkGray: #2c3e50;   // Soft dark blue-grey for text
$blue: #2980b9;       // Deep blue for links
$helvetica: "Georgia", serif; // Serif fonts feel more "bibliophile/academic"



// //
// // VARIABLES
// //

// // Colors
// $blue: #4183C4;

// // Grays
// $black: #000;
// $darkerGray: #222;
// $darkGray: #333;
// $gray: #666;
// $lightGray: #eee;
// $white: #fff;

// // Font stacks
// $helvetica: Helvetica, Arial, sans-serif;
// $helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;

// // Mobile breakpoints
// @mixin mobile {
//   @media screen and (max-width: 640px) {
//     @content;
//   }
// }
